# Включение отображения ошибок (если это разрешено и используется mod_php)
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off

Options +FollowSymLinks
RewriteEngine On

# Игнорировать запросы к папке "files" (папка "files" не будет обработана через этот .htaccess)
RewriteCond %{REQUEST_URI} !^/api/files [NC]

# Перенаправить все запросы, кроме /index.php, на /index.php
RewriteCond %{REQUEST_URI} !^/api/index.php
RewriteRule ^(.*)$ /api/index.php [L]
